trigger: none

pool: Atiq-Pool

jobs:
- job: Terraforinit 
  displayName: Terraform init
  steps:
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'
  - task: TerraformTask@5
    displayName: Terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/environment/prod'
      backendServiceArm: 'main-conn'
      backendAzureRmStorageAccountName: 'dec25strorageacct'
      backendAzureRmContainerName: 'dec25container'
      backendAzureRmKey: 'terra.tfstate'

  - task: TerraformTask@5
    displayName: Terraform validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(System.DefaultWorkingDirectory)/environment/prod'

  - task: TerraformTask@5
    displayName: Terraform plan 
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)/environment/prod'
      environmentServiceNameAzureRM: 'main-conn'
   

  