trigger: none

pool: Atiq-Pool

# jobs:

# # -----------------------------------
# # JOB 1: Terraform Init / Validate / Plan
# # -----------------------------------
# - job: Terraform_Init_Plan
#   displayName: Terraform Init, Validate & Plan
#   steps:
#   - task: TerraformInstaller@1
#     inputs:
#       terraformVersion: 'latest'

#   - task: TerraformTask@5
#     displayName: Terraform init
#     inputs:
#       provider: azurerm
#       command: init
#       workingDirectory: '$(System.DefaultWorkingDirectory)/environment/prod'
#       backendServiceArm: 'connection-03'
#       backendAzureRmStorageAccountName: 'storagezia123'
#       backendAzureRmContainerName: 'container-zia-123'
#       backendAzureRmKey: 'terraform.tfstate'

#   - task: TerraformTask@5
#     displayName: Terraform validate
#     inputs:
#       provider: azurerm
#       command: validate
#       workingDirectory: '$(System.DefaultWorkingDirectory)/environment/prod'

#   - task: TerraformTask@5
#     displayName: Terraform plan
#     inputs:
#       provider: azurerm
#       command: plan
#       workingDirectory: '$(System.DefaultWorkingDirectory)/environment/prod'
#       environmentServiceNameAzureRM: 'connection-03'


# -----------------------------------
# JOB 2: Download, Install & Run Security Tools
# -----------------------------------

  # -------------------------------
  # Run Checkov

stages: 
  - stage:
    displayName: "Scanning Tools"
    jobs:
      - job: checkhov
        steps:
        # - task: CmdLine@2
        #   inputs:
        #     script: |
        #       cd $(System.DefaultWorkingDirectory)/environment/prod
        #       checkov -d .
        #       if ($LASTEXITCODE -ne 0) { exit 0 }

       
        - task: PowerShell@2
          displayName: TFSEC
          inputs:
            targetType: 'inline'
            script: |
             cd $(System.DefaultWorkingDirectory)/environment/prod
              tfsec .
         
  # -------------------------------
  # Run TFLint
  # -------------------------------
        - task: PowerShell@2
          displayName: tflint
          inputs:
            targetType: 'inline'
            script: |
              cd $(System.DefaultWorkingDirectory)/environment/prod
              tflint --init
               tflint
        
         

  # -------------------------------
  # Run Infracost
        - task: PowerShell@2
          displayName: Infracost
          inputs:
            targetType: 'inline'
            script: |
              cd $(System.DefaultWorkingDirectory)/environment/prod
              infracost breakdown --path .
        
  # Terrascan
      
        - task: PowerShell@2
          displayName: Terrascan 
          inputs:
            targetType: 'inline'
            script: |
                cd $(System.DefaultWorkingDirectory)/environment/prod
                terrascan scan --iac-type terraform --iac-dir . --policy-type azure
